.social-icons {
  margin-left: 0;
  padding-left: 0;
  margin-top: 20px;
}
  .social-icons ul {
    margin: 0;
    padding: 0;
  }
  .social-icons li {
    list-style: none;
    display: block;
    float: left;
    margin-right: 10px;
    margin-bottom: 14px;
  }
  .social-icons a {
    text-decoration: none;
  }
  .social-icons i {
    text-align: center;
    display: block;
    font-size: 20px;
    line-height: 32px;
    height: 32px;
    width: 32px;
    border-radius: 3px;
  }
  .social-icons .envelope {
    background: #0732a2;
    color: #fff;
  }
  .social-icons .envelope.active, .social-icons .envelope:hover {
    background: #fff;
    color: #0732a2;
  }
  .social-icons .facebook {
    background: #3b5999;
    color: #fff;
  }
  .social-icons .facebook.active, .social-icons .facebook:hover {
    background: #fff;
    color: #3b5999;
  }
  .social-icons .twitter {
    background: #4099ff;
    color: #fff;
  }
  .social-icons .twitter.active, .social-icons .twitter:hover {
    background: #fff;
    color: #4099ff;
  }
  
  .purl {
    margin-top: -3px;
    white-space: nowrap;
  }
  .purl input {
    position: relative;
    top: -1px;
    width: auto;
    max-width: 160px;
    cursor: pointer;
    padding: 8px 12px 7px;
    margin: 0 6px 0 0;
  }
  .purl button {
    display: inline-block;
    position: relative;
    width: auto;
    top: 2px;
    padding: 3px 12px;
  }

