@import 'tooltips.css';
@import 'social.css';

body, html {
	font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
	height: 100%;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 19px 0 18px;
  z-index: 3;
}

main {
  /* 48 + 58 */
  padding-top: 106px;
  /* 48 + 67 */
  padding-bottom: 115px;
  min-height: 100%;
}

footer {
  padding: 28px 0 24px;
  text-align: center;
  font-size: 11px;
  margin-top: -67px;
}

h1, h2 {
  margin: 0;
}

.container {
  padding-left: 35px;
  padding-right: 35px;
}
*[class*="col-"] {
  padding-left: 35px;
  padding-right: 35px;
}
.row {
  margin-left: -35px;
  margin-right: -35px;
}

.note {
  font-size: 14px;
  margin-top: 20px;
  font-weight: bold;
  font-style: italic;
}

button {
  padding: 12px 30px 12px 30px;
  font-size: 20px;
  display: block;
  text-align: center;
  width: 100%;
  box-shadow: inset 0px -4px 0px rgba(0,0,0,0.3);
  border-radius: 3px;
  border: 0;
}

.teaser {
  padding: 35px;
}
  .teaser h1 {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 15px;
  }
  .teaser h2 {
    font-size: 28px;
    line-height: 38px;
  }

.widget {
  padding-bottom: 10px;
}
.widget.col-sm-12 {
  min-height: 100%;
}
  .widget h1 {
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 30px;
    margin-bottom: 17px;
  }
  .widget h2 {
    font-size: 22px;
    line-height: 30px;
  }
  
  .widget .validation-error {
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    font-size: 14px;
    color: #f00;
  }
  
  input, textarea {
    background: url(../images/icon-right.png) no-repeat 20px center;
    font-size: 12px;
    border-radius: 3px;
    border: 0;
    padding: 12px 20px 12px 40px;
    margin-bottom: 30px;
    width: 100%;
  }
  
  .widget .email-capture {
    float: left;
    margin-top: 17px;
  }
  
  .widget .share-again {
    margin: 10px 0 -10px;
  }
  
  .widget .post-preview {
    margin-bottom: 30px;
  }
  .widget .post-preview p {
    margin: 10px 0;
  }
