header, footer {
  background: #0732a2;
  color: #fff;
}

a {
  color: #2d5be3;
}
button {
  background: #3c5a98;
  color: #fff;
}
button:hover {
  background: #2d4b89;
  color: #fff;
}

.teaser {
  background: #e6ebf6;
}
  .teaser h1 {
    color: #aeb4b6;
  }
  .teaser h2, .teaser .note {
    color: #4e595d;
  }

.widget {
  background: #4e595d;
}
  .widget h1 {
    background: #0732a2;
    color: #fff;
  }
  .widget h2 {
    color: #aeb4b6;
  }
  .widget .note {
    color: #aeb4b6;
  }

form input, .widget form textarea {
  background-color: #efeff4;
  color: #4e595d;
}
