/*

  main blue: #0732a2
  button blue: #2d5be3
  section blue: #e6ebf6
  link blue: #2d5be3
  text blue, dark background: #4e595d
  input background: #efeff4

*/

header, footer {
  background: #0732a2;
  color: #fff;
}

.teaser {
  background: #e6ebf6;
}
  .teaser h1 {
    color: #aeb4b6;
  }
  .teaser h2, .teaser .note {
    color: #4e595d;
  }
.form {
  
}
